/* General Styles */

body {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  color: #004d80;
}

p {
  font-size: 1.125rem;
}

img {
  width: 20%;
}

button {
  background-color: brown;
  color: antiquewhite;
  text-decoration: underline;
}

/*Donate Styles */

.donate {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* About Styles */

.about {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #99d6ff;
  margin-bottom: 40px;
}

.about img {
  width: 100%;
}

.about p {
  text-align: center;
  padding: 0 10px;
}

p.adopt {
  padding-bottom: 20px;
  text-align: center;
}

/* Help, Mission and Program Styles */

.help {
  border-top: #99d6ff dotted 20px;
  width: 100%;
}

.mission {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

.programs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.main-programs {
  border-bottom: #99d6ff dotted 20px;
}

.mission h2 {
  text-align: center;
}

.mission img {
  width: 90%;
}

.mission img.blanket {
  margin-top: 20px;
}

.mission h3 {
  text-align: center;
}

.programs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

h3.support {
  margin-top: 20px;
  padding-top: 40px;
  font-size: 2.5rem;
  width: 100%;
}

.programs p {
  text-align: center;
  width: 90%;
}

.support {
  width: 90%;
}

/* Aside Fundraiser Styles */
aside.content-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

aside.content-wrapper .fundraiser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  flex-direction: column;
  background-color: #e6f5ff;
}

/*Supplies Styles */

ul.supplies {
  padding: 0;
}

.supplies li {
  width: 100%;
  text-align: left;
}

/*Social Styles */

ul.social {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style-type: none;
  margin-right: 10px;
}

.fa-facebook-f:before,
.fa-facebook-f:after,
.fa-instagram:before,
.fa-instagram:after,
.fa-pinterest:before,
.fa-pinterest:after {
  color: #004d80;
  font-size: 1.25rem;
}
/*Difference Styles */

.difference {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 40px;
  border-top: 20px dotted #99d6ff;
  margin-bottom: 40px;
}

.difference h3 {
  width: 100%;
}

.difference p {
  width: 80%;
  text-align: center;
}

/*Photo Gallery Styles */

div.content-wrapper.photo-gallery {
  width: 100%;
}

.photo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.photo-gallery img {
  width: 100%;
  object-fit: cover;
}

/* Footer Styles */

footer p {
  width: 100%;
  text-align: center;
}

/*Pages - Photo Gallery Styles*/
.photo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cat img {
  width: 100%;
}

@media (min-width: 768px) {
  /* General Styles */
  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.17rem;
  }

  h3.support {
    width: 100%;
  }

  /*Photo Gallery Styles*/

  .content-wrapper .photo-gallery {
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .photo-gallery {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .photo-gallery img {
    width: 25%;
    height: 259px;
  }
}

@media (min-width: 1024px) {
  /*General Styles */
  h1 {
    font-size: 2.625rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  /*About Styles */
  .about {
    align-items: center;
    flex-flow: row wrap;
  }
  .about-img {
    width: 50%;
    order: 2; /*Check to see if style is needed*/
  }

  .about-img img {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .about-p {
    width: 50%;
    order: 1;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  }

  .about-p p {
    width: 90%;
  }

  /* Help and Mission Styles */

  .help {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .mission {
    width: 60%;
    flex-flow: row wrap;
  }

  .mission .content-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .programs,
  .support {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  img.blanket {
    width: 100%;
  }

  .mission h3 {
    padding-top: 40px;
  }
  .mission p {
    width: 100%;
  }

  /*Aside Styles */

  aside.content-wrapper {
    width: 40%;
    align-self: flex-start;
  }

  aside.content-wrapper .fundraiser {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  /*About Styles */

  .about-img {
    margin-bottom: -6px;
  }

  .about-p p {
    margin: 0;
  }

  /*Help and Mission Styles */

  .help {
    width: 100%;
  }

  .mission .content-wrapper {
    column-gap: 25px;
  }

  .main-programs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .programs {
    width: 45%;
    margin-left: 20px;
  }

  p.grow {
    flex-grow: 1;
  }

  .support {
    text-align: center;
  }

  .mission h2 {
    width: 100%;
  }

  .mission img.blanket {
    width: 90%;
    height: 208.15px;
    object-fit: cover;
    margin-top: 0;
  }

  /*Fundraiser Styles */

  .fundraiser p,
  .fundraiser ul {
    width: 80%;
  }

  /*Supplies Styles */

  ul.supplies {
    width: 70%;
    text-align: center;
  }

  p.contact {
    text-align: center;
  }

  /*Social Styles */
  ul.social {
    width: 100%;
    text-align: center;
  }
}
