/* General Comments */

body {
    width: 100%;
}

.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
   

}

h3 { 
    font-size: 20px;
    text-align: center;
}

P {
    font-size: 18px;
}

.donate {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



button {
    background-color: brown;
    color: antiquewhite;
    text-decoration: underline;
}

/* First Part */
.first-part {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #99d6ff;
}



h1 {
    width: 100%;
    text-align: center;
}

.first-part img {
    width: 100%;
}

.first-part p {
    width: 100%;
    text-align: center;
    padding: 0 10px;
}

img {
    width: 20%;
}

p.adopt { 
    padding-bottom: 20px;
    text-align: center;
    
}

/* Programs */

.second-part {
      width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 40px;
    border-top: #99d6ff dotted 20px;
    margin-bottom: 40px;
}

.second-part h2 {
    font-size: 30px;
    text-align: center;
}

.second-part img {
    width: 90%;
}

.second-part img.blanket {
    margin-top: 20px;
}

.second-part button {
    margin-bottom: 20px;
}

.second-part h3 {
    text-align: center;
}

h3.support {
    margin-top: 20px;
    padding-top: 40px;
    border-top:  #99d6ff dotted 20px;
    font-size: 40px;
}



/* More Info Styles
.more-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #e6f5ff;
     width: 90%;
       flex-direction: column;
     
}

.more-info-container {
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
 

}

.more-info p {
    text-align: center;
}

h3.supplies, .supplies li {
    text-align: left;
    width: 100%;
    margin-left: 10px;
} */


